<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.oogh.similar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="86ef5c79ef424d260c9ccbc6044c4a15" />
        <meta-data
            android:name="QQ_APP_ID"
            android:value="tencent1106699661" />

        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore" />
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106699661" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".signin.SigninActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".message.MessageActivity" />
        <activity android:name=".my.MyActivity" />
        <activity android:name=".murmur.MurmurActivity" />
        <activity android:name=".whisper.WhisperActivity" />
        <activity
            android:name=".murmur.AddMurmurActivity"
            android:theme="@style/AppTheme.Colored" />
        <activity
            android:name=".murmur.EditMurmurActivity"
            android:theme="@style/AppTheme.Colored"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".murmur.CacheMurmurActivity"
            android:theme="@style/AppTheme.Colored" />
        <activity
            android:name=".whisper.WhisperAllActivity"
            android:theme="@style/AppTheme.Colored" />
        <activity
            android:name=".whisper.WhisperAddTopicActivity"
            android:theme="@style/AppTheme.Colored"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".whisper.WhisperTopicDetailActivity"
            android:theme="@style/AppTheme.Colored" />
        <activity
            android:name=".whisper.AddWhisperActivity"
            android:theme="@style/AppTheme.Colored" />
        <activity
            android:name=".whisper.EditWhisperActivity"
            android:theme="@style/AppTheme.Colored"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".whisper.SelectWhisperActivity"
            android:theme="@style/AppTheme.Colored" />
        <activity
            android:name=".whisper.WhisperDetailActivity"
            android:theme="@style/AppTheme.Colored"></activity>
    </application>

</manifest>